@import '../../styles/colors.scss';

.button {
    height: 50px;
    border: 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--main-background-color);
    padding: 0 32px;
    cursor: pointer;
    transition: filter .2s;

    img {
        margin-right: 8px;
    }

    &:global.outlined {
        background-color: var(--main-background-color);
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
    }

    &:not(:disabled):hover {
        filter: brightness(.85);
    }

    &:disabled {
        opacity: .6;
        cursor: not-allowed;
    }
}