@import './colors.scss';

#page-auth {
    height: 100vh;
    display: flex;
    align-items: stretch;
    
    aside {
        padding: 120px 88px;
        flex: 7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #ffffff;
        background-color: var(--secondary-background-color);
    
        img {
            max-width: 320px;
        }
    
        strong {
            font: 700 36px 'Poppins', sans-serif;
            line-height: 42px;
            margin-top: 16px;
        }
    
        p {
            font-size: 24px;
            line-height: 32px;
            margin-top: 16px;
            color: var(--main-subheading-color);
        }
    }
    
    main {
        position: relative;
        padding: 0 32px;
        flex: 8;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.theme-toggler-container {
    position: absolute;
    top: 10px;
    right: 10px;
}


.main-content {
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;

    > img {
        align-self: center;
    }

    h2 {
        margin: 64px 0 24px 0;
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
    }

    form {
        button, input {
            width: 100%;
        }

        button {
            margin-top: 16px;
        }

        input {
            height: 50px;
            padding: 0 16px;
            border-radius: 8px;
            border: 1px solid  var(--main-separator-color);
            background: var(--main-input-color);
            color: var(--main-text-color);
        }

    }

    p {
        margin-top: 16px;
        font-size: 14px;
        color: #737380;
        
        a {
            color: var(--main-link-color);
        }
    }
}

.create-room {
    height: 50px;
    margin-top: 64px;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    text-decoration: none;
    background-color: #ea4335;
    color: #ffffff;
    cursor: pointer;
    transition: filter .2s;

    img {
        margin-right: 8px;
    }

    &:hover {
        filter: brightness(.85);
    }
}

.separator {
    margin: 32px 0;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--main-separator-color);

    &::before, &::after {
        content: '';
        height: 1px;
        flex: 1;
        background-color: var(--main-separator-color);
    }

    &::before {
        margin-right: 16px;
    }

    &::after {
        margin-left: 16px;
    }
}
