:root {
    --primary-color: #835afd;
    --main-link-color: #e559f9;
    --main-background-color: #f8f8f8;
    --secondary-background-color: #835afd;
    --main-text-color: #29292e;
    --secondary-text-color: #737380;
    --main-input-color: #ffffff;
    --main-border-color: #e2e2e2;
    --main-separator-color: #a8a8b3;
    --highlight-color: #f4f0ff;
    --answered-color: #DBDCDD;
    --main-subheading-color: #cfcfcf;
}

.dark-colors {
    --primary-color: #a98dfd;
    --main-link-color: #d07bdb;
    --main-background-color: #121212;
    --secondary-background-color: #212121;
    --main-text-color: #e4e4e4;
    --secondary-text-color: #858591;
    --main-input-color: #212121;
    --main-border-color: #3a3a3a;
    --main-separator-color: #515157;
    --highlight-color: #332852;
    --answered-color: #171717;
    --main-subheading-color: #737380;
}
