@import './colors.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}

body.dark {
    --primary-color: #a98dfd;
    --main-link-color: #d07bdb;
    --main-background-color: #121212;
    --secondary-background-color: #212121;
    --main-text-color: #e4e4e4;
    --secondary-text-color: #858591;
    --main-input-color: #212121;
    --main-border-color: #3a3a3a;
    --main-separator-color: #515157;
    --highlight-color: #332852;
    --answered-color: #171717;
    --main-subheading-color: #737380;
}


body, input, button, textarea {
    font: 400 16px 'Roboto', sans-serif;
}