@import '../../styles/colors.scss';

.theme-toggler {
    width: 40px;
    height: 40px;
    border: 1px solid var(--main-border-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
}

.theme-toggler-icon {
    color: var(--main-text-color);
}
